<div>
    <ul class="collection">        
        <li routerLink="/location" class="collection-item avatar">          
            <i class="material-icons circle red">location_on</i>
            <span class="title">Location</span>
            <p>Using geolocation in navigator, access current location of users</p>
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>        
        </li>
        <li routerLink="/contact" class="collection-item avatar">            
            <i class="material-icons circle blue">contacts</i>
            <span class="title">Contact List</span>
            <p>Using contact-api in navigator, access device contact list of mobile phones<br>
            Only support for chrome 80.0+ version</p> 
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
        </li>
        <li routerLink="/barcode" class="collection-item avatar">
            <i class="material-icons circle green">insert_chart</i>
            <span class="title">Barcode Reader</span>
            <p>UPC-A food item barcode reader using quagga js libary</p>
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
        </li>        
    </ul>
</div>